.body-auth {
  background-image: url("../img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  background: #1E1E1E;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.copiright {
  background: white;
  padding: 5px 0;
  text-align: center;
  font-size: 16px;
}
.copiright-link {
  font-weight: bold;
  color: #a2ae00;
  text-decoration: none;
}
.copiright-link:hover {
  color: #a2ae00;
}

.login {
  height: 100vh;
}
.login__inner {
  backdrop-filter: blur(10px);
  background: rgba(135, 135, 135, 0.85);
  padding: 20px 10px;
  border-radius: 20px;
}
.login__btns-submit {
  background: #EEE1A4;
  padding: 5px 35px;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid transparent;
  outline: transparent;
  transition: all ease-in-out 0.4s;
}
.login__btns-submit:hover {
  color: #EEE1A4;
  background: transparent;
  border-color: #EEE1A4;
}
.login__title {
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  color: white;
}
.login__label {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: white;
  margin-left: 10px;
  margin-bottom: 5px;
}
.login__input {
  background: #D9D9D9;
  border-radius: 10px;
  padding: 10px 15px;
  outline: transparent;
  border: 1px solid transparent;
}

.clock {
  color: green;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.205em;
}

.dashboard__table {
  border: 1px solid white;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}
.dashboard__table-header {
  background: white;
  padding: 10px 20px;
  border-radius: 15px 15px 0 0;
}
.dashboard__table-counter {
  background: #a2ae00;
  padding: 5px 20px;
  border-radius: 20px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}
.dashboard__table-item {
  color: white;
}
.dashboard__stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.dashboard__stats-inner {
  display: grid;
  grid-template-columns: 55px calc(100% - 55px);
  gap: 2px;
}
.dashboard__stats-value {
  font-weight: bold;
  font-size: 16px;
}
.dashboard__header {
  background: white;
  padding: 5px 15px;
  border-radius: 20px;
}
.dashboard__header-exit {
  padding: 5px 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background: #a2ae00;
  font-size: 20px;
  text-decoration: none;
  border-radius: 25px;
  border: 1px solid transparent;
  transition: all ease-in-out 0.4s;
}
.dashboard__header-exit:hover {
  background: transparent;
  border-color: #a2ae00;
  color: #a2ae00;
}
.dashboard__header-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: black;
  position: relative;
}
.dashboard__header-link::before {
  content: "";
  background: #a2ae00;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -18px;
}
.dashboard__header-link:hover::before {
  width: 100%;
}
.dashboard__header-link:hover {
  color: #a2ae00;
}
.dashboard__header-link:hover svg * {
  fill: #a2ae00;
}
.dashboard__header-link + .dashboard__header-link {
  margin-left: 20px;
}
@media (max-width: 992px) {
  .dashboard__header-link + .dashboard__header-link {
    margin-top: 15px;
    margin-left: 0;
  }
}
.dashboard__module {
  background: white;
  padding: 10px;
  border-radius: 20px;
}
.dashboard__module-label {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: black;
}
.dashboard__user {
  display: grid;
  grid-template-columns: 55px calc(100% - 55px);
  gap: 10px;
}
.dashboard__user-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: black;
}
.dashboard__user-info {
  margin: 0;
  padding: 0;
}
.dashboard__user-info + .dashboard__user-info {
  margin-top: 3px;
}
.dashboard__items-inner {
  background: white;
  border-radius: 15px;
}
.dashboard__items-title {
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
}
.dashboard__params-label, .dashboard__params-value {
  font-size: 15px;
  line-height: 17px;
}
.dashboard__params-value {
  font-weight: bold;
}
.dashboard__btns-green {
  color: white;
  background: #277602;
  border-radius: 20px;
  padding: 5px 0;
  text-transform: uppercase;
  font-size: 16px;
  border: 1px solid transparent;
  transition: all ease-in-out 0.4s;
}
.dashboard__btns-green:hover {
  color: #277602;
  background-color: transparent;
  border-color: #277602;
}
.dashboard__btns-red {
  color: white;
  background: #a2ae00;
  border-radius: 20px;
  padding: 5px 0;
  text-transform: uppercase;
  font-size: 16px;
  border: 1px solid transparent;
  transition: all ease-in-out 0.4s;
}
.dashboard__btns-red:hover {
  color: #a2ae00;
  background-color: transparent;
  border-color: #a2ae00;
}
.dashboard__btns-yellow {
  color: black;
  background: #EEE1A4;
  border-radius: 20px;
  padding: 5px 0;
  text-transform: uppercase;
  font-size: 16px;
  border: 1px solid transparent;
  transition: all ease-in-out 0.4s;
}
.dashboard__btns-yellow:hover {
  color: #EEE1A4;
  background-color: transparent;
  border-color: #EEE1A4;
}

.product__item {
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 5px;
  border-bottom: 2px dashed black;
  padding: 5px 0;
}
.product__item-name, .product__item-value {
  font-size: 12px;
}
.product__item-value {
  font-weight: bold;
}

.settings__title {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: white;
  text-transform: uppercase;
}
.settings__input {
  padding: 3px 10px;
  border-radius: 15px;
  border: 1px solid #a2ae00;
}
.settings__label {
  margin-left: 10px;
  color: white;
}
.settings__info {
  font-size: 10px;
  color: lightgrey;
}

.stats__value {
  font-weight: bold;
}
.stats__title {
  color: #a2ae00;
  font-size: 16px;
  text-transform: uppercase;
}
.stats__table {
  border-radius: 15px 15px 0 0;
  border: 1px solid white;
  overflow: hidden;
}
.stats__table-item {
  border-bottom: 1px solid white;
  color: white;
}
.stats__table-item td {
  padding: 5px;
}
.stats__table-header {
  background: white;
}
.stats__table-header td {
  padding: 3px 15px;
}

.orders__items {
  color: white;
}
.orders__link {
  width: 100%;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}
.orders__link:hover > .orders__table {
  background: white;
  color: black;
}
.orders__link:hover {
  background: white;
  color: black;
}
.orders__table {
  border: 1px solid white;
  padding: 5px 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 10% 20% 15% 10% 5% 10% 10% 20%;
  gap: 2px;
}

.table__header-user td {
  padding: 5px 10px;
  background: white;
  color: black;
}

.table__body-user td {
  padding: 5px 10px;
}

.table__user-btn {
  padding: 10px 20px;
  border-radius: 20px;
  background: white;
  border: 1px solid transparent;
  text-decoration: none;
  color: black;
  transition: all ease-in-out 0.3s;
}
.table__user-btn:hover {
  color: white;
  border-color: white;
  background: transparent;
}

.user__input {
  padding: 5px 10px;
  border: 1px solid white;
  color: white;
  background: transparent;
  outline: transparent;
  border-radius: 10px;
}

.counter-list-item {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: darkred;
  right: -10px;
  top: -15px;
}
.counter-list-item_text {
  color: white;
  font-size: 12px;
}

.light-green {
  color: lightgreen;
}

.orange {
  color: orange;
}

/*# sourceMappingURL=main.css.map */
